[2016-07-07 14:50] desterhuizen opened #2 "missing dependency"
I tried to create a new dashboard following the steps specified.

1. npm install -g vudash
2. vudash create

The above generated the below error:
`
 Error: Cannot find module 'fs-extra'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous

[2016-07-07 17:05] antony commented on #2
Nice catch @desterhuizen - not sure how that has happened! Will fix asap.

[2016-07-07 17:09] antony commented on #2
Fixed in v2.1.2

[2016-07-07 17:09] #2 closed

[2016-09-21 07:15] antony opened #3 "Consider clientside library for widgets"
Might be a nice way to tie the various components of a widget together without having to force people into the learning curve of react.

- [ ] http://riotjs.com/
- [ ] Preact

[2016-09-21 07:16] antony opened #4 "Pull out demo widgets"
Once transports are finished, pull out internal widgets into separate widget modules.
- [x] Gauge
- [x] Progress
- [x] Health

[2016-10-15 21:12] antony opened #5 "Job should expect a promise, and handle errors."

[2016-10-18 09:06] antony opened #6 "Allow global css to be set on dashboard"
- [x] Allows changing of fonts
- [x] Allows changing of colours
- [x] Allows changing of rounding

[2016-10-23 21:08] #5 closed

[2016-10-24 07:18] antony opened #7 "Bundle all widget CSS intelligently"
Compile svelte components, and bundle them with their imported dependencies.

[2016-11-09 09:45] antony opened #8 "Allow fonts to be changed globally"

[2016-11-09 09:46] antony opened #9 "Add event to change dashboard background colour"

[2016-11-09 09:46] #8 closed

[2017-01-02 10:42] antony commented on #3
Fixed with SvelteJS

[2017-01-02 10:42] #3 closed

[2017-01-24 12:01] #4 closed

[2017-02-05 12:45] antony opened #15 "Move transports into dashboard plugins"
Right now, vudash-transport is included in plugins, but actually what should happen is that there should be a bunch of plugins:

@vudash/data-source-google-sheets
@vudash/data-source-homebridge
@vudash/data-source-rest
@vudash/data-source-value
@vudash/data-source-random

Each plugin should 'decorate' the dashboard with a 'data-source', along with validation for that transport's config, and widget

[2017-02-10 12:06] antony opened #16 "Audio events can play in parallel"
Which doesn't sound great!

The HTML5 Audio API fires events such as 'playing' and 'ended' which should be used in order to queue sounds so that they don't play in parallel.

- [x] When a sound is played, set current audio state to playing
- [x] When a sound finishes, set current audio state to playing
- [x] If a second sound starts to play whilst a sound is playing, add it to a queue.
- [x] Play

[2017-02-13 12:41] antony opened #17 "Make push datasource"
Basically allows a user to push data to the dashboard rather than have the dashboard poll.

The widgets would still poll, therefore the fetch method would simply retrieve data from a cache that is updated by events pushed to the datasource's connector.

- [ ] Datasource should allow configurable port for events
- [ ] Datasource should cache data ephermally
- [ ] Datasource should allow reading fro

[2017-02-23 15:35] #15 closed

[2017-02-28 10:22] antony opened #19 "Fix memory leak"
There appears to be some sort of memory leak - not sure if it's widget specific or the dashboard itself, but over time, the memory usage grows.

- [ ] Diagnose source of memory leak
- [ ] Fix memory leak

[2017-03-01 22:55] antony commented on #19
Seems to be a huge array of 'window is not defined' errors. I'm thinking that this is a third party library being initialised on every update loop.

The hunt continues!

[2017-03-15 11:19] antony commented on #19
Turns out this was the event emitter being held onto by the widget update loop. I've assigned the emitter to null after it is handed to the promise chain, and now memory usage is back to around ~24mb

[2017-03-15 11:19] #19 closed

[2017-05-06 20:35] #7 closed

[2017-05-07 10:48] antony opened #21 "Hook for validating widget options"
- [x] Should be able to declare default configuration for widgets (or use joi defaults)
- [x] Should be able to declare a joi validation schema
- [x] Hook should be automatically called to validate
- [x] Defaults should be merged with passed options

[2017-05-07 20:38] antony opened #22 "Datasources should manage schedule and emit events to widgets."
Right now, the widget -> datasource relationship is back to front.

From version 8, datasources should manage polling of data and emit events when that data changes. Widgets can then update data if required.

[2017-05-07 20:39] antony commented on #17
This depends on #22

[2017-05-07 20:51] antony opened #24 "Switch to icomoon"
The icon fonts used in our widgets are kinda ugly. Icomoon will provide a smaller filesize and better control over our icon sets.

[2017-05-07 22:50] antony opened #25 "Show better 404 page when dashboard cannot be found"
Something prettier than the hapi 404 json!

[2017-05-08 17:17] #25 closed

[2017-05-10 10:24] antony opened #26 "stats widget does not seem to show history graph"

[2017-05-10 10:24] antony opened #27 "auto-scale font sizes on statistics widget"

[2017-05-10 13:49] antony commented on #27
Fixed by using text-resize.

[2017-05-10 13:49] #27 closed

[2017-05-10 13:49] antony commented on #26
Fixed by updating svelte component `oncreate`

[2017-05-10 13:49] #26 closed

[2017-05-13 21:56] antony commented on #24
Switched to svg instead, using rollup svg plugin.

[2017-05-13 21:56] #24 closed

[2017-05-31 16:59] antony opened #30 "Trello / JIRA / GH Tasks Widget"
Create a widget which lists X number of tasks from any of the above task-tracking systems, along with completion etc.

[2017-06-06 09:21] Tomino2112 opened #31 "Missing slashes in path while loading widgets"
Not sure if I am doing something wrong, but I have followed the quick install and tried to open default dashboard and got following:

[code]

It seems that when loading widget markup all slashes disappear from the file path

[2017-06-06 09:25] Tomino2112 commented on #31
This seem to be windows only issue, on linux it works as expected

[2017-06-06 10:16] antony commented on #31
Hi @Tomino2112

Thanks for the report - I've actually never tried to run it on Windows, which is probably why it doesn't work! I can see that the backslashes are turning their adjacent characters into escape-chars.

I'll see if I can find out how to fix this - but I'll have to find a windows machine first!

For now you could run it on Linux / Run it inside docker as a workaround.

[2017-06-06 10:20] Tomino2112 commented on #31
Hi @antony  I am actually still debugging it and so far tracked it to the `rollup` package. I am not familiar with this module, maybe misconfiguration? You have a `configuration-builder` there that dynamically creates the rollup config, maybe would be as easy as change the generated config?

[2017-06-06 10:36] antony commented on #31
Hmm - The rollup plugin responsible for composing the svelte components, which is what it looks like is failing on your system. Strange, as I'd expect rollup/rollup-plugin-svelte to work across all Operating Systems.

[2017-06-06 10:41] Tomino2112 commented on #31
Right, you could fix the issue from your side, I have just done it but definitely not pretty solution.

In `src/modules/dashboard/bundle-builder/index.js:25`

I have added:

[code]

And that fixed the issue

[2017-06-06 13:32] antony commented on #31
HI,

So it seems that the way I dynamically write the dashboard js bundle is writing import strings and escaping them which means that `\\` is being turned into `\`.

What I've done is I've made a fix in `7.6.2` which pre-converts windows paths to unix paths (which windows understands as you've demonstrated above), so this should work on all platforms.

Give `7.6.2` a go and see if you have any lu

[2017-06-06 13:34] Tomino2112 commented on #31
@antony Will do probably tomorrow, I found another issue do you want it here or in new git issue ?

[2017-06-06 13:51] Tomino2112 commented on #31
@antony  That's done it ! thanks

[2017-06-06 13:51] #31 closed

[2017-06-21 19:02] thomson02 opened #32 "Rollup error on viewing dashboard"
I receive the following error message when I try to view a dashboard:

    at enhance (/[path]/vudash-example/node_modules/vudash/node_modules/rollup/dist/rollup.js:7567:21)
    at Module.analyse (/[path]/vudash-example/node_modules/vudash/node_modules/rollup/dist/rollup.js:7931:2)
    at new Module (/[path]/vudash-example/node_modules/vudash/node_modules/rollup/dist/rollup.js:7791:7)
    at /[pat

[2017-06-21 20:42] thomson02 commented on #32
Issue also occurs when using Win10 and node v6.9.1

[2017-06-22 08:14] antony commented on #32
Hi - you can't run Vudash on Node v6. It runs on 7.x and above. I think that is the root cause of your issues.

[2017-06-27 08:00] antony commented on #32
Hey @thomson02 did this fix your problem?

[2017-06-28 15:15] antony commented on #32
Closing - feel free to re-open if you have further issues.

[2017-06-28 15:15] #32 closed

[2017-07-03 13:08] mathiasschopmans opened #33 "Error starting dashboard"
Hi everyone,
I just wanted to report, that I'm not able to get the basic setup running.

[code]

Everything seems fine, but once I visit the logged URL I get the following error:

[code]

**System information**

| Component | Version |
| --- | --- |
| OS | MacOS Sierra |
| node.js | 8.1.3 |
| npm | 5.0.4 |

[2017-07-03 13:10] mathiasschopmans commented on #33
Related to #32

[2017-07-03 14:36] antony commented on #33
Interesting, this immediately points to a node version error but it looks like you're using a recent version of node.

I'll see if I can replicate the error locally and get back to you.

[2017-07-03 14:39] antony commented on #33
Ok - I've got the same error. I think perhaps there has been a minor release of a dependent package which has caused this. I'll have a look and see if I can fix it!

[2017-07-03 15:02] mathiasschopmans commented on #33
I tried various node versions (6, 7, 8) and I think you're right with the dependent package causing this.

Thanks for investigating @antony!

[2017-07-03 15:19] antony commented on #33
I've found the problem - some sort of incompatibility with the version of svelte and rollup.

Fixing those strangely revealed a problem with node v8 and 'cli'.

Pushing a new release shortly!

[2017-07-03 15:24] alexanderyarm commented on #33
@antony works like a charm! thanks for fixing issue so quick!

[2017-07-03 15:24] antony commented on #33
Super :D

[2017-07-03 15:24] #33 closed

[2017-07-03 15:25] antony commented on #32
Hi @thomson02 looks like your problem is resolved the same way as in #33

I hadn't realised that there was an issue with third party dependencies, so my apologies for that.

Vudash 7.6.3 will resolve your issue.

[2017-07-03 19:47] antony opened #34 "Improve CLI"
- [x] Installer should provide more verbose feedback when installing packages
- [x] Figlet for logo
- [x] Usage

[2017-07-03 19:48] antony opened #35 "Use svelte/rollup to build dashboard rather than writing js file programatically"
- [ ] Single entrypoint for rollup should be generated dashboard javascript

[2017-07-05 07:12] antony commented on #34
Fixed in 198aa4c9bbb03c351ec591c8d470b8be0b997531

[2017-07-05 07:12] antony commented on #34
Fixed in 198aa4c9bbb03c351ec591c8d470b8be0b997531

[2017-07-05 07:12] #34 closed

[2017-07-12 09:00] alexanderyarm commented on #9
+1 for this enhancement!
Would be very nice to have this functionality

[2017-07-12 09:31] antony commented on #9
I think this should be relatively easy to implement. I'll get on it :)

[2017-07-17 09:36] alexanderyarm opened #36 "@ symbol is missing in styles"
After removing `node_modules` folder and installing all dependencies again, CSS animation doesn't work in my widget.

After investigation i found out that @ symbol is removed from beginning of animation declaration
![screen shot 2017-07-17 at 11 31 17](https://user-images.githubusercontent.com/2443817/28262625-f7c7d7e0-6ae3-11e7-8f01-76d8c0609c79.png)

it has to be `@keyframes ...`

[2017-07-17 15:08] antony commented on #36
are you running a cloned version of the repository, or are you running `v7.7.0`?

I've been doing some refactoring to make the code more readable and it's possible that I deleted this by accident!

[2017-07-17 15:12] antony commented on #36
What widget is this @alexanderyarm ? I can't find any reference to `achtung`, `#750000` nor any missing `@keyframes` in the codebase?

What version are you using?

[2017-07-18 09:30] alexanderyarm commented on #36
@antony sorry for long answer
currently i'm using vudash version `7.6.3`. This is code from widget i wrote by myself. It's not on github. It's only exists locally on my pc.

The problem is that it worked perfect until i removed `node_modules` and install dependencies again. After it symbol `@` which exists in code is not there when i'm trying to debug it with chrome dev tools.

[2017-07-18 09:42] antony commented on #36
This sounds a lot like a problem with rollup, actually.

Try upgrading to v7.7.0 as it has new rollup/babel versions and see if this helps. Don't forget to delete node_modules again.

If it persists, I can try to replicate it and figure out where the bug is coming from.It might be svelte, rollup, or rollup-babel.

[2017-07-18 10:11] antony commented on #36
I've raised an issue with svelte (as I was able to replicate it in their REPL) here https://github.com/sveltejs/svelte/issues/712

[2017-07-18 10:28] alexanderyarm commented on #36
Thanks a lot for handling this issue

[2017-07-25 15:51] antony commented on #36
This has been fixed in https://github.com/sveltejs/svelte/issues/712

I've upgraded svelte and released vudash@7.8.2 - give it a go @alexanderyarm!

[2017-07-25 15:51] #36 closed

[2017-07-25 16:37] antony commented on #36
Unfortunately this brought with it another svelte issue I've fixed in v7.8.3 (I hope) https://github.com/sveltejs/svelte/issues/722

Use rgb(...) notation for colours rather than #xxx and you should be fine until this is fixed.

Here's a nice site I used to convert all mine over! https://www.webpagefx.com/web-design/hex-to-rgb/

[2017-07-26 09:14] antony opened #37 "Use buble/babel when compiling widgets to increase legacy browser support"
- [x] Add transpiler to rollup

[2017-08-08 13:30] #37 closed

[2017-08-14 12:24] alexanderyarm opened #38 "Local modules can't be found"
I have updated to the latest version `7.11.0` and have following error
`Module dependency widgets/vudash-chartjs declared in widget could not be located`
this is my local widget and it can't be found anymore.

I guess reason is this change https://github.com/vudash/vudash/commit/d617f8318f997d1434025e99193f2d08c105cbae#diff-573418c3c4b7a3f5236ad3e02d0b58d7L11

[2017-08-14 13:17] antony commented on #38
Hi @alexanderyarm Yes - I saw this myself. I am working on a proper resolution, but for now, the node standard way of running the app with:

```NODE_PATH=. vudash``` will work.

Sorry about that!

[2017-08-14 13:58] alexanderyarm commented on #38
yes, it works!

Thanks for quick response

[2017-08-14 14:15] antony commented on #38
The way it was handled previously was suboptimal and overcomplicated, so I'm investigating a good way to do it. Suggestions welcome!

[2017-09-28 16:44] antony opened #39 "Document new vudash widget harness"
- [ ] Add documentation for the [svelte repl gist](https://svelte.technology/repl?version=1.40.1&gist=2a51c0347e49585ffeb7c1ec49030c24) which can be used to quickly prototype vudash widgets.

[2017-10-30 21:50] antony commented on #38
I think I might have fixed this in v8 - I've rewritten a lot of stuff.

You might need to migrate your dashboard json and components, and datasources, though, I'll work on a migration guide to help.

[2017-10-30 21:50] #38 closed

[2017-10-30 21:51] antony commented on #22
Fixed in v8.0.0

[2017-10-30 21:51] #22 closed

[2017-10-31 12:30] antony opened #41 "Allow a datasource to cache (server-side) a history"
Useful for widgets which graph things

Update method can then become

```update({ data, meta, history }) ...```

- [x] Datasources can specify a history length in update-length (i.e. keep last 8 values)
- [x] Widgets can take 'history'
- [x] Statistics widget observes history rather than creating its own
- [x] Old history items are removed from history

[2017-10-31 12:34] antony opened #42 "Widgets can support data transformation using 'reach'"
Suggest something like

[code]
and removing all previous ability to do this on a per-widget basis.

This would mean declaring only one datasource for an API and then plucking different values for different widgets

- [x] Can specify optional transform clause
- [x] Can specify optional transform 'reach'
- [x] Can specify optional transform 'format'
- [ ] Functionality to format and transform is rem

[2017-10-31 12:47] antony commented on #39
Now in the [developer docs](https://vudash.com/#/developers/?id=writing-the-client-side-component)

[2017-10-31 12:47] #39 closed

[2017-11-07 23:20] antony commented on #41
Added in version 8.1.0

[2017-11-07 23:20] #41 closed

[2017-12-14 16:50] ccollie commented on #42
Was about to add a feature request to integrate [node-jq](https://github.com/sanack/node-jq) as an alternative to reach. This would add tremendous flexibility for munging data from rest endpoints and eliminate or delay the need to create additional datasource a lot of cases.

[2017-12-14 17:16] ccollie opened #43 "Allow external resolution of dashboard config"
It would be useful to have an extension point to load dashboards from an external source. I'd like to add and updates dashboards without a redeploy.

[2017-12-14 17:18] antony commented on #42
Hi @ccollie - thanks for that, I'll look into it!

[2017-12-14 17:24] ccollie commented on #42
Here's an approachable tutorial of kinds of transformations possible :
[jq tutorial](https://programminghistorian.org/lessons/json-and-jq).

[2017-12-15 01:51] ccollie commented on #42
I took another look at the module and it appears that it actually shells out to the command line. That's unfortunate, because I really like jq. In my case it would be acceptable to use this in our environment since we have a limited number of users, but I'm not sure how this would work in the general case.

[2017-12-15 10:20] antony commented on #42
Ah yeah that's certainly not ideal. Perhaps there is a native version (or equivalent) hiding somewhere in npm. If not - I did intend that there were multiple transformation types available, `jq`, `reach` etc, so I don't see why we couldn't support jq as a pluggable module for those who wanted it.

[2017-12-15 10:27] antony commented on #42
How about this:

https://github.com/fiatjaf/jq-web

[2017-12-15 10:30] antony commented on #43
Interesting - I'm pretty sure this is workable. I'm not sure how it would work if you updated a dashboard, since the UI gets hold of a bunch of autogenerated ids and it would have to somehow autodestroy and autorecreate those.

How do you imagine auto-detection working? An api endpoint to call, or file watching?

[2017-12-15 15:04] ccollie commented on #42
I definitely like the idea of multiple transformation types. Looking at jq-web now.

[2017-12-27 22:17] antony commented on #42
Done as #44 and released as Vudash v9.0.0 with a `map` and a `jq` transformer.

[2017-12-27 22:17] #42 closed

[2018-02-13 10:48] Robertbaelde opened #45 "Datasource-rest could not be found"
Hi there,

Vudash looks amazing. Unfortunately i cant get it to work properly.
After a install with vudash create, when i tried running vudash, it gave a error that the clock-module could not be found. Then when i started it with npm start it worked.

Then i installed the datasource-rest module, but when i start it (with vudash or npm start), and visit the dashboard. I get `Module @vudash/datasour

[2018-02-14 00:48] Robertbaelde commented on #6
Is this implemented but not documented? Or will this not be implemented? Would be great to modify some css.

[2018-02-14 00:49] Robertbaelde commented on #45
Seems like it was a issue with my npm.

[2018-02-14 00:49] #45 closed

[2018-02-14 10:58] antony commented on #6
Hi @Robertbaelde so I implemented this a while ago but I had a big rewrite midway through last year to render everything with svelte. During that process I might have had to drop this functionality.

Having said that, I think it is reasonably easy to re-implement. So I will reopen this issue and set to work on this as soon as possible.

[2018-02-18 22:27] #6 closed

[2018-02-24 16:25] Robertbaelde opened #46 "Jq Transformer, transformation setting"
When using the Jq transformer, its documented that one should use the following config for a transformation
[code]

However, this results in a invalid configuration, as there should be a value key in the options object.
I propose to change the configuration of the JQ transformer to
[code]
And then in the transformer.js use `this.transformation = transformation.value`

Another solution would be to

[2018-02-24 22:07] Robertbaelde opened #47 "Slow on Raspberry pi 3?"
Annyone tried running it on a raspberry pi 3? When i run a dashboard with +- 10 charts on a raspberry, it is really slow to boot up (around a minute) and when it boots, the clock for example updates only every 10 seconds. Is there something i might do wrong, that requires a lot of power from the raspberry? or is the dashboard simply heavy to run?

[2018-02-27 17:27] antony commented on #47
I tend to run the dashboard on Now.sh/Heroku/AWS etc and just have a browser on the Pi. I've not noticed any issue at all - I too run on a Zero with -/+ 10 charts (browser only).

I don't believe the dashboard is particularly heavy to run though - I'd be interested in knowing why this is the case.

[2018-02-27 17:28] Robertbaelde commented on #47
I can give you access to the git (bitbucket) of my configuration? Not sure how to debug this, as i'm not that familiar with node.

[2018-02-27 17:29] antony commented on #46
I think I agree with this. It's probably more logical if options follows a standard format.

[2018-02-27 17:30] antony commented on #47
Happy to take a look, sure.

I can run some metrics against it and see how heavy it is to run.

[2018-02-27 17:31] Robertbaelde commented on #47
Greath, whats your bitbucket username? (you can also email me at robert@payless.events)

[2018-02-27 17:48] antony commented on #47
I'm 'wirahx' on bitbucket

[2018-03-02 13:16] antony commented on #47
Nice dashboard!

I'm doing some profiling on client/server for your dashboard (pm2/chrome profiling), so i'll update you with my findings when I've gathered enough data.

[2018-03-02 13:22] antony commented on #47
Btw pretty important, how is your RPi configured?

You would probably want to give 64mb+ video memory to Chrome, as the chartist library, whilst light, might need a fair bit of rendering memory.

Is it just when you have a lot of charts?

Are you running the backend and the chrome browser on the same RPi?

[2018-03-09 07:39] alex-voigt opened #48 "Widget time alarm triggers sound in an infinite loop"
Alarm is played in endless loop after it was trigged the first time.

The widget is configured like this:

    {
      "position": {
        "x": 8,
        "y": 0,
        "w": 2,
        "h": 2
      },
      "widget": "vudash-widget-time",
      "options": {
        "timezone": "Europe/Berlin",
        "alarms": [
          {
            "expression": "00 28 10 * * 1-5",
            "actions":

[2018-03-14 13:13] antony commented on #48
Interesting - we used it for morning stand-up and it didn't have this issue.

Can you try with a very short sound clip to ensure it isn't the browser lagging which causes it?

Also do you have a copy of the sound you are using so I can reproduce?

[2018-03-14 14:44] antony commented on #48
Hi, I've made a release 9.0.1 which I think might fix this and also #16.

Certainly it fixes the issue on my machine.

If not, can you provide an example project demonstrating the issue, and i'll endeavour to fix it.

Thanks!

[2018-03-14 14:45] antony commented on #16
In release 9.0.1 I reuse the audio object so this should no longer be possible.

[2018-03-14 14:45] #16 closed

[2018-03-19 10:28] alex-voigt commented on #48
tested the latest release and it still keeps playing that sound every 30 secs after the first cron (10:28:00. 10:28:30, ...)

`{
      "position": {
        "x": 8,
        "y": 0,
        "w": 2,
        "h": 2
      },
      "widget": "vudash-widget-time",
      "options": {
        "timezone": "Europe/Berlin",
        "alarms": [
          {
            "expression": "00 28 10 * * 1-5",

[2018-03-19 13:08] antony commented on #48
Thanks @alex-voigt!

I'll give this a go and see if I can replicate the issue :)

[2018-03-19 23:13] antony commented on #48
Hi @alex-voigt

I can't replicate this! I took your code and made it play once per minute, and it does, without issue.

Can you tell me some background info:

1. Widget-time version
1. Operating System
1. Browser and Version
1. CPU Specification
1. Node version

And maybe I can help you further!

[2018-03-20 08:11] alex-voigt commented on #48
It was running the latest vudash version in a docker container with node:9-alpine image. After using the normal node:9 without alpine it seems to be fixed.

But after playing the sound the first time it still triggers the sound on every manual reload.

[code]
tested on MacOS High Sierra 10.13.3  with Chrome 65 and Firefox 59.0.1

[2018-03-20 10:18] antony commented on #48
@alex-voigt Yeah - manual reloads will trigger the sounds again. I have known about that for a while but I haven't had time to look into it. I can raise a separate issue for that.

So it seems that there is a possible alpine link - interesting! I will try to recreate with your setup.

[2018-03-22 15:11] alex-voigt opened #50 "datasource-rest crashes dashboard when 404/500/whatever occurs"
We just experienced the following issue when a URL is temporary not available:

[code]

Would be nice to make this failsafe to not crash the whole dashboard. It should rather get the values in the next fetching iteration (when the source is available again).

[2018-03-22 15:16] Dbzman opened #51 "Trigger client reload on dashboard restart/reconnect"
Hey there,

we have vudash running on a Raspberry PI connected to a TV. (kiosk mode)
This works pretty nice so far. However the connection gets lost from time to time (due to dashboard server restarts or deployments of a new dashboard version). This means we need to refresh the browser manually.
It would be really great to have a page reload triggered whenever a new connection was made after the c

[2018-03-31 10:25] antony commented on #51
Agreed - I have noticed the same thing.

I'll add this to the roadmap. But I've just added in > 9.1.0 an api endpoint for reloading/changing the current dashboard. You could possibly add this into a build process, or just hit it manually rather than have to do a manual refresh.

Let me know what you think and i'll work on this functionality :)

[2018-03-31 11:17] antony commented on #51
Fixed in v9.2.1 :) Enjoy

You can configure the reload timeout by passing environment variable `DISCONNECT_RELOAD_TIMEOUT` - i've set it to 30 seconds by default.

[2018-03-31 11:17] #51 closed

[2018-03-31 11:18] antony commented on #50
Does this crash the entire dashboard? I believed it would just continue and retry - I have a few widgets which get this error a lot and simply carry on later.

Either way it is a bit messy. I'll see if I can shore up the error a bit and make it more stable.

[2018-03-31 12:01] antony commented on #50
Ok, errors are handled and logged more gracefully now. They still don't show in the UI (only socket errors show here).

[2018-03-31 12:01] #50 closed

[2018-03-31 12:01] antony commented on #50
v9.2.2 btw :)

[2018-03-31 12:42] antony commented on #48
Ok, I've rebuilt this with docker + alpine and I still can't reproduce it!

Can you have a look at https://github.com/vudash/vudash-demo/commit/5817bbd6f4da4b7cd3d72e4bf00a9dff90a97f79 when you get a second.

I've asked it to trigger every 15 seconds, and it does, duly - but doesn't repeat.

I've not tried it on a raspberry pi yet (as I have no spares with me) but I will do so as soon as I get a c

[2018-03-31 12:45] antony commented on #47
I'm still looking into this - I need a RPi to test against, so I'm prepping one of mine to help with this issue and another potential issue as soon as I can.

I run on a RPi zero (minus graphs) at work, and I've not noticed any slowdown, so it's possible that the chartist plugin is a bit heavier than I'd like it to be.

[2018-03-31 16:35] antony commented on #46
This has been fixed as part of 9.2.0

[2018-03-31 16:35] #46 closed

[2018-04-01 11:57] Dbzman commented on #51
Wow, this works great. Thank you very much! 👍

[2018-04-02 08:20] antony commented on #35
Work has started here feature/dynamic-svelte but is blocked by a potential rollup issue.

[2018-04-03 06:51] alex-voigt commented on #48
Since we now see the "Socket disconnect" stuff on the board it looks like the connection to the socket is lost all the time. As a consequence the dashboard gets reloaded which results in triggering the alarm.

[2018-04-03 10:06] antony commented on #48
@alex-voigt Phew - glad you fixed the timeout issue, I was about to say, I don't see that.

I'll have a look at the cron expressions, perhaps the cron plugin has an issue, as I can't explain the behaviour at all.

There might be *some* delay on the sound playing because the fix I made ensures the entire audio is buffered before playing.

I'll try these expressions and see if I get similar results.

[2018-04-12 07:34] antony commented on #43
@ccollie Vudash now has an API. How do you feel about being able to POST / PUT dashboard configuration to it?

[2018-04-12 13:44] antony opened #52 "Datasources format is not validated correctly"
I had

[code]

We should check that datasources have the correct format when the dashboard is loaded.

[2018-04-12 13:47] antony opened #53 "CI widget failure breaks dashboard"
[code]

[2018-04-12 14:35] ccollie commented on #43
Works for me.

[2018-04-12 14:46] antony opened #54 ""method" parameter marked optional in rest datasource is actually mandatory"

[2018-04-12 14:57] antony commented on #53
My bad - it does not - just bad config.

[2018-04-12 14:57] #53 closed

[2018-04-12 20:06] #54 closed

[2018-04-12 20:07] #52 closed

[2018-04-12 20:07] #21 closed

[2018-04-13 10:03] #43 closed

[2018-04-13 10:05] antony commented on #43
@ccollie https://vudash.com/#/api/?id=put-apiv1dashboardsname

[2018-04-16 13:07] alex-voigt opened #58 "Error updating datasource <name-of-datasource> Too many open files"
We have a dashboard with about 10 datasource using the datasource-rest module.

They are all defined like that:
[code]

For the first hours it works fine but then we always get a message like that:
[code]
The values are not updated anymore. The widgets look like this:

[code]

But the normal widget-time module for example still keeps ticking. We are using latest versions of all vudash stuff.

[2018-04-17 10:58] antony commented on #58
Hi @alex-voigt

This sounds like either you have an extremely low number for 'file descriptors' in your OS, which seems unlikely unless the box is running a load of other stuff.

The more possible explanation is that the JQ command is not exiting, and instead we are opening a new instance for each transformation.

This might be my bug, or it might be an upstream bug in node-jq.

I'll look into it

[2018-04-17 11:00] antony opened #59 "Increase font size for dashboard widgets"
- [ ] Increase font size for visibility
- [ ] Slightly dim font colour

[2018-04-18 08:54] antony commented on #58
Btw for this use case, whilst i am looking into the issue, you can use the 'transformer-map' transformer which hopefully won't have this problem:

[code]

[2018-04-18 09:13] alex-voigt commented on #58
Thanks! I will give it a try and let you know

[2018-04-18 09:42] antony commented on #58
Cool.

A useful command to help me understand what you're facing are:
[code]
The command will give you your machine config. It would be interesting to see how your limits (3rd column) are set. On my Ubuntu desktop machine (with a lot of things running), and running a jq enabled widget, I've got plenty of wiggle room.

[2018-04-18 10:35] antony commented on #58
Boom. Recreated it!

[code]

[2018-04-19 11:13] alex-voigt commented on #58
The configuration is:
sysctl fs.file-nr
fs.file-nr = 4480       0       764170

But using the transformer-map works since yesterday without any problems.

[2018-04-19 13:24] antony commented on #58
Great!

I'll close this for now, because I think the old JQ implementation had a leak. I've replaced it with a new library now which doesn't seem (in my tests) to leak.

[2018-04-19 13:24] #58 closed

[2018-05-03 07:58] antony commented on #59
Consider binding offsetHeight/offsetWidth for scaling contents

[https://svelte.technology/repl?version=2.4.1&gist=698d70ffe43d867ecfba808e4fe81ef7](https://svelte.technology/repl?version=2.4.1&gist=698d70ffe43d867ecfba808e4fe81ef7)

[2018-05-08 06:51] cmawhorter commented on #35
out of curiosity what's the rollup issue?

[2018-05-15 07:10] alex-voigt commented on #48
any new insights so far?

[2018-05-16 21:05] antony commented on #48
Hi @alex-voigt

I tried your example with the following dockerfile:

[code]

which I thought should cause the issue, but I still am unable to recreate it. I'm not sure how to progress!

Here's the dashboard code I'm using - it plays the sound every minute to make testing easier. But it doesn't get stuck on a loop.

[code]

[2018-05-16 21:15] antony commented on #48
Hi Alex,

I've just been racking my brains with this and I've spotted something. Vudash uses [node-cron](https://www.npmjs.com/package/node-cron) for cron schedules.

The cron expression you have written seems to (according to node-cron), request that the sound is played every second... which would explain the infinite loop.

I think the expression you want is:

`* * * * *`

for every minute, and

[2018-05-16 21:18] antony commented on #48
Ok - the above expression plays every two minutes for me. Can you try it?

[2018-05-17 07:48] alex-voigt commented on #48
I just upgraded to latest version 9.8.1 (from 9.7.3) and it seems to be ok (needs final testing on the real setup after the other issues are solved).

Now the statistics widget breaks because validation is not working correct (see pull request #60).

Also the jq-transformer does not work anymore for us. It doesn't seem to execute the JQ statement. The widget only shows: [object Object]

If I conso

[2018-05-17 09:30] alex-voigt commented on #48
You are welcome. Glad to help out a bit...

About the JQ stuff... since we only use it for one particular purpose I think we can live without the JQ transformer and write a special transformer which suits our needs.

[2018-05-17 10:36] antony commented on #48
@alex-voigt I'll admit I don't use the JQ transformer much. It is far too complex for my needs.

I'm going to close this issue now, but feel free to raise more, I'd love to understand people's use-cases so that I can expand the dashboard's usefulness.

[2018-05-17 10:36] #48 closed

[2018-05-31 11:36] viktorlarsson opened #61 "cli issues on Windows 10"
Hi!

Just tried it out on Windows, but i'm having some issues with vudash create.

You are using template literals, but I haven't seen ``` before (except for Markdown on Github) in cli/src/create.js

https://github.com/vudash/vudash/blob/448e56732a920e6e9e8e792eaf074934473ae157/packages/core/src/cli/create.js#L10-L23

```const dockerFileContents = ```
                             ^
...
TypeError:

[2018-06-01 12:58] antony commented on #61
Hi @viktorlarsson,

This is a very good point. It should be using single quotes. (Groovy on the JDK also uses triples!)

Will fix and release a patch update ASAP.

[2018-06-01 13:00] antony commented on #61
Fixed in `9.8.3`. Apologies - this was a very fast and loose change, and I hadn't properly tested it!

[2018-06-01 13:00] #61 closed

[2018-06-02 05:32] viktorlarsson commented on #61
No worries, glad I could help!

[2018-06-22 13:53] Dbzman opened #62 "REST datasource - allow more formats than just JSON"
Hey there,

I just noticed that it's currently not possible to get anything else than JSON back in the REST datasource. It would be handy if more formats could be supported. (I have an RSS feed here which I would like to read)

Cheers

[2018-06-23 20:44] antony commented on #62
Hi Dbzman, you're absolutely right. It makes sense to support xml and plain text also.

I will add this to the roadmap!

[2018-08-29 12:03] ne0c0de opened #64 "Problem with the loading modules."
I have 2 different environments. 1 is Ubuntu 14.04 2 is Mac

First i tried with ubuntu.

Installed vudash
create sample dashboard and it works.
I changed default dashboard with this:

[code]

And got this error:

`Module @vudash/datasource-rest could not be resolved as an NPM module or a local module`

I also tried to start vudash with NODE_PATH=. vudash

but it didn't resolve my problem.

Than i

[2018-08-29 12:30] ne0c0de commented on #64
I noticed that the problem is starting with this command is not good for vudash: `NODE_PATH=. vudash`
So I tried `npm start` and default dashboard worked on Mac too
Then i tried my custom dashboard and it's failed gain because of same error happened on Ubuntu.

Then i executed this: `npm install --save @vudash/datasource-rest`

And the error changed to `Module vudash-widget-statistic could not be

[2018-08-29 12:47] ne0c0de commented on #64
I resolved this too by modifying the script like this:

[code]
Also needed to install transformer-map module with this command: `npm install --save @vudash/transformer-map`

Currently everything is fine.

I loved to work self service 👯‍♂️

[2018-09-05 19:07] antony commented on #64
Hi!

Apologies, I hadn't noticed this issue being raised!

I will check into this, as my intention was that the application would work out of the box without extra additional dependencies!

Thanks for working this out :dancing_women:

[2018-09-21 12:57] torarnv commented on #64
Seeing the same problem. `vudash` results in:

[code]

` npm start` works

[2018-09-21 12:58] torarnv opened #66 "Changing dashboard JSON does not update until after restart"
There doesn't seem to be any hot-reload of the dashboards. Changing e.g. the width or height of a widget.

I don't know if this limitation also applies to widgets. Coming from Dashing/Smashing, the ability to quickly change a widget was very handy.

[2018-09-21 13:22] torarnv opened #67 "Documentation on how to create an in tree widget"
See https://github.com/vudash/vudash-demo/issues/2

Is it just creating a .vue file? The existing widgets seem to be node modules with quite a bit of boilerplate, is all that needed to create a widget?

Thanks!

[2018-09-21 15:16] torarnv commented on #67
https://vudash.com/#/developers/ has some more information. I missed that as the links in the top right corner of https://vudash.com/#/ are hard to miss, and the front-page widget documentation doesn't link to the full docs: https://vudash.com/#/?id=widgets

I thought the front page docs were all there was. Perhaps link to each of the full docs from each front page section?

[2018-09-21 16:07] torarnv commented on #67
https://github.com/vudash/vudash/pull/69

[2018-09-21 19:02] torarnv opened #70 "Custom CSS via css file?"
Is there any way to customise the look of Vudash using a css file? Adding it inline in the json file is a bit awkward :) Thanks!

[2018-09-21 19:05] torarnv opened #71 "Offline history"
Does Vudash support saving history between restarts? Dashing saves a `history.yml`, and has an option when scheduling jobs to not run the job at startup, eg: `SCHEDULER.every '1h', :first_in => 0 do`.

I have a data source I would prefer to not fetch too often, but even if I set the schedule for the source to a high number, it will still be fetched every time I restart Vudash during development of

[2018-09-21 20:42] torarnv opened #72 "emitter.emit('update') from constructor"
Doesn't seem to work, probably because the client side of the widget hasn't connected yet. Is there a callback for when that happens, so that I can propagate static data to the client? The widget has a config option 'foo' and I want that to be reflected in the client widget's data.

Setting up a repeating timer to push the static data again and again to the client is a workaround I've seen, but th

[2018-09-21 20:46] torarnv commented on #72
Something like this seems like a possible workaround:

[code]

[2018-09-21 21:07] torarnv opened #73 "Path to local assets?"
Some of the build in widgets take sounds, also by path. What is this patch if I want to keep it in the dashboard repository? Putting it at the root along with widgets and dashboards does not work, localhost:3300/foo.bar just gives me the index.

I'm trying to create a widget that just shows an image as configured by the option,  ` "url": "/assets/foo.png"`

[2018-09-24 21:00] antony commented on #64
Thanks - I will look at this as soon as I have the time (possibly late this week)

[2018-09-28 10:16] antony commented on #73
Hi @torarnv

Currently there is no support for this, at least not in the existing widgets. You could create a custom widget which shows the image, however.

I think it might be worth adding a filesystem data source so that widgets such as the value widget can show images as well as text.

[2018-10-02 13:49] #67 closed

[2018-10-02 15:54] torarnv opened #74 "Rotating dashboards?"
Do you have any plans to implement rotating between several dashboards? Any ideas how it could be implemented?

[2018-10-02 15:54] torarnv commented on #73
Could the webserver you spin up serve out of the `public` folder of the user's project?

[2018-10-02 15:58] antony commented on #73
@torarnv yeah - in fact it already does for internal assets:

https://github.com/vudash/vudash/blob/master/packages/core/src/plugins/static/static.js

It'd be a matter of adding a second handler in here which serves from a directory based on process.cwd()

[2018-10-02 15:59] torarnv commented on #73
Right, that's what I saw. I'll play around with what you suggested! Thanks!

[2018-10-02 16:00] antony commented on #74
What I've done previously is use the API:

https://vudash.com/#/api/?id=put-apiv1viewcurrent

I've wired that up to a switch (amazon dash button) on the wall to change dashboards, but you could easily set up a cron task to call that endpoint periodically and tell it to change the current dashboard.

I did want to implement auto-changing dashboards at some point as well, but this served my needs be

[2018-10-02 16:02] torarnv commented on #74
Thanks! Should be possible to use a data source for this too I guess? Do data sources refresh even when not connected to a widget? The "refresh" could internally trigger that API as a side-effect. A workaround i guess :)

[2018-10-02 16:02] antony commented on #72
I think what you're trying to do is generally achieved with a datasource - have a look at the static datasource. You bind the datasource to the widget, and then set the datasource's interval, and that will then push data whenever necessary.

[2018-10-02 16:06] antony commented on #71
The history is currently stored in memory as I didn't see a use-case outside of this, but this is a nice idea. perhaps this would be a good PR for the existing history functionality - to allow an option for saving to file instead of memory.

[2018-10-02 16:07] antony commented on #66
Yeah - there is no hot-reloading currently, as I haven't had the opportunity to implement it. I did add a feature to add a dashboard dynamically, but not to edit an existing one.

[2018-10-02 16:10] antony commented on #70
There was, but it was removed during a refactor/simplification. It's probably a useful thing to have so I will add it to the roadmap for re-introduction!

[2018-10-02 16:22] antony commented on #64
Strange, the install scripts do request that vudash-widget-time is installed.

I'll need to look into this further.

[2018-10-03 08:52] antony commented on #74
That seems quite feasable yeah. I don't think datasources care if a widget is listening or not :)

[2018-10-04 12:32] torarnv commented on #72
Yeah, this works:

[code]

But its' kind of akward:

- There's a a certain amount of boilerplate for something that could perhaps be expressed directly on the widget.
- You need to provide a schedule, which does't really make sense for a static value source. Using `0` or `-1` doesn't work a "no-op" schedules either, so you end up with updating it once a day or some random schedule.

Perhaps the ca

[2018-10-04 12:33] torarnv commented on #72
I'm also curious about this. Is there a callback for when the client side connects?

I'm seeing the `HealthWidget` for example, calls `this.run()` in the constructor, but that would hit the same problem I'm seeing of the `this.emitter.emit('update', { on: this.on })` in `run()` not having any effect since the client isn't connected yet, wouldn't it?

[2018-10-05 17:12] biapar opened #76 "How to build widget?"
How to build widget?

[2018-10-05 17:13] biapar opened #77 "How to save dashboard?"
How to save dashboard?

[2018-10-05 17:13] biapar opened #78 "Is’t possible"
Is’t possible to use custom theme and patterns?

[2018-10-05 17:14] #78 closed

[2018-10-05 17:14] biapar opened #79 "Is’t possible to use custom theme and patterns?"
Is’t possible to use custom theme and patterns?

[2018-10-06 06:40] biapar opened #80 "Drag and Drop support."
Drag and Drop support.

[2018-10-13 13:08] antony commented on #76
Hi @biapar - all the information you need is here: http://vudash.com/#/developers/

[2018-10-13 13:09] antony commented on #80
I actually intend to build an admin / dashboard creation tool which will have this support. I don't intend to include it in the core SDK.

[2018-10-13 13:09] #80 closed

[2018-10-13 13:09] antony commented on #79
You can build completely custom widgets, and customise the existing ones, and there is an open issue to re-introduce CSS theming.

[2018-10-13 13:10] antony commented on #77
I'm not sure I understand this. Dashboards are just JSON files.

[2018-10-13 13:13] biapar commented on #76
And drag and drop ?

[2018-10-13 13:39] antony commented on #80
You can't - the dashboard doesn't allow any creation or saving through the web, so drag+drop wouldn't serve any purpose.

For now you specify the position in the grid using `x` and `y`

[2019-04-04 19:41] L-Francois opened #81 "Proxy support ?"
Hello,

Is there a way to define a proxy which would encapsulate all http calls ?

Thanks,
François

[2019-04-05 01:05] L-Francois opened #82 "Widget-status always showing "a few seconds""
Hello,

If my widget is connected to a rest datasource with a call every x minutes, the when variable is always showing "a few seconds".  It seems that this code is only evaluated at the first load of the page and not triggered anymore:

    computed: {
      when: _updated => {
        return moment(_updated).fromNow(true)
      }

Thanks,
François

[2019-04-08 21:35] L-Francois commented on #82
Hello,

I adapted the code to refresh it differently every 10 seconds, there are maybe better ways, discovering nodejs & co:

  'use strict'
  import moment from 'moment'

  export default {
    onstate () {
		var self = this
        setInterval(function() {
		   self.set({ when: self.refresh() });
        }, 10000);
	},
    data () {
      return {
        description: '-',
        components: {}

[2019-04-09 00:00] L-Francois commented on #81
Hello,

By using this global tunnel (https://github.com/capriza/node-proxying-agent), I could redirect to my local cntlm instance and it works :).

Regards,
François

[2019-04-09 00:02] L-Francois commented on #81
class RestTransport {
  constructor (options) {
    this.config = options
	require('proxying-agent').globalize('http://127.0.0.1:3128');
  }

[2019-05-15 19:22] antony commented on #82
Heya - sorry I've not had a huge amount of time to work on Vudash recently!

The goal with `_updated` is that it is a property always sent by the core Vudash dashboard, and doesn't need to be sent by individual widgets. However, it's possible that there is an issue preventing this from working.

When my schedule frees up a bit I'll have a look into this and see if I can determine why there may be

[2019-08-21 08:33] chonnimitS2 opened #83 "Can't install on Node 12"
I can't install from `npm install -g vudash`

[code]

I think problem from this issue from weak https://github.com/TooTallNate/node-weak/issues/99

[2019-10-08 10:35] DanSoQt opened #84 "Add favicon support to dashboards"
Pushing a dashboard out to my org to connect to has been great, but one point of feedback I've received is that there's no favicon, so it's not easy to see in bookmarks lists.

It would be really helpful if the dashboard json definition provided an "icon" or "favicon" key that accepts a URL or file local to the dashboard.

[2019-10-22 20:15] antony commented on #84
HI @DanSoQt - awesome, I'm glad to hear you're enjoying it.

I'm unfortunately too busy to work on this at the moment, but if you are willing to open a PR, that would be excellent.

[2019-10-22 20:16] antony commented on #83
Hey - thanks for the bug report. I've not seen this error myself, it looks like a native module. I'll have to have a look when I get a minute.

For reference, I've not tried this with Node 12. I developed it and use it on Node 8.

[2020-02-05 09:37] improvethings opened #85 "Demos are down"
Just an FYI, both of your demos appear to be down/broken.

[2020-03-16 15:12] antony commented on #85
Hi @improvethings

Yep - unfortunately I moved host and can't afford to host the demo apps any more. I'm working on the next version of vudash which will be completely serverless which should mean that the demos can live again!

[2020-04-06 23:27] Lissy93 commented on #85
If you need somewhere to host the backend in the meantime- I can provide you with an account on one of my DO servers

[2020-05-16 01:21] aJamDonut commented on #85
fyi. demo links to lingerie website with adult toys on it sometimes.

[2020-05-16 09:07] antony commented on #85
@aJamDonut ah, domain squatters have arrived.

[2020-05-16 15:35] antony commented on #85
@Lissy93 thanks for the offer! When I get a chance to do more work on this I might be in touch :)

I did actually build a serverless prototype - it's incredibly expensive to run that way. Back to the drawing board!

[2020-06-05 21:47] JanPokorny opened #86 "Docs are not accessible"
http://vudash.github.io/vudash/ redirects to vudash.com, which is down.

[2020-06-06 10:31] antony commented on #86
Same as https://github.com/vudash/vudash/issues/85

[2020-06-06 10:31] #86 closed, assigned to nobody

[2020-06-06 10:33] JanPokorny commented on #86
@antony Why not just remove the redirect? Are the docs not able to run from gh-pages alone?

[2020-06-06 10:45] antony commented on #86
Yeah they should be able to. A bit time constrained right now but I think I've done it?

[2020-06-06 11:27] JanPokorny commented on #86
@antony Redirect seems to be gone now, thanks!